.row{
    margin-left: 20px;
    color: #fff;
}

.row_title{
    font-size: 18px;
    text-transform: uppercase;
}
.row_conepts{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    position: relative;
    margin: 30px 0;
}

.row_concept{
    width: 100%;
    object-fit: contain;
    max-height: 120px;
    transition: transform 450ms;
    margin-right: 15px;
    border-radius: 5px;
}

.row_conepts::-webkit-scrollbar{
    display: none;
}

.row_concept:hover{
    transform: scale(1.08);
}

